CompileFlags:
	Add: [ 
	-DSTM32F446xx,
	-DUSE_HAL_DRIVER,
	-Istm32/device/f446/include,
	-Istm32/periph/STM32F4xx_HAL_Driver/Inc,
	-Isrc/f446,
	]

	Remove: [
	-f*,
	-Iinc/f427,
	-Istm32/device/f427/include,
	-Istm32/periph/stdperiph/include,
	-Istm32/periph/stdperiph/Inc,
	]

	Compiler: arm-none-eabi-gcc
