[submodule "lib_hwtest/tests/cpputest"]
	path = lib_hwtest/tests/cpputest
	url = https://github.com/cpputest/cpputest.git
[submodule "lib_hwtest/tests/fff"]
	path = lib_hwtest/tests/fff
	url = https://github.com/meekrosoft/fff.git
[submodule "libhwtests"]
	path = libhwtests
	url = https://github.com/4ms/libhwtests.git
